/* All the media query is here */

@media (max-width: 1024px) {
    h2{
        font-size: 45px;
    }
    h3{
        font-size: 35px;
    }
    .top-video-banner .content.content {
        height: 500px;
        object-fit: cover;
    }
    .top-video-banner .content.content video{
        height: 500px;
        object-fit: cover;
    }
    .our-product .product-col {
        padding: 80px 0;
    }
    .why-us-slider .text{
        width: 90%;
    }
    footer .footer-sec .address{
        width: 100%;
    }
    footer .footer-sec .menu-item{
        padding-bottom: 20px;
    }

}   

@media (max-width: 767px) {
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 30px;
    }
    .about-us{
        padding-top: 50px;
    }
    .about-us-slider .about-carousel .owl-prev{
        left: 0 !important;
    }
    .about-us-slider .about-carousel .owl-next{
        right: 0 !important;
    }
    .why-us-slider .text{
        width: 95%;
    }
    .why-us-slider .mySlides p{
        font-size: 18px;
    }
    .why-us-slider .mySlides h3{
        font-size: 28px;
    }
    .why-us-slider .mySlides img{
        height: 500px;
    }
    .why-us p{
        font-size: 20px;
    }
    .our-product .product-col {
        padding: 50px 20px;
    }
    
    .our-product .product-card .card{
        margin-bottom: 20px;
    }
    .client-logo h3{
        margin-bottom: 20px !important;
    }
    .testimonial-section{
        padding: 50px 0;
    }
    footer{
        position: relative;
        padding: 50px 0 20px;
    }
    footer .footer-sec .menu-item,
    footer .footer-sec .social-icon{
        padding-left: 20px;
        padding-right: 20px;
    }
    footer .footer-sec  .copyright{
        padding: 10px;
    }
    .join-info-sec-img
    {
        display: none !important;      
    }
    section.join-us-sec .join-info-sec img
    {
        display: block;
        margin: 0 auto;
        width: 50px;
    }
    section.join-us-sec .join-info-sec h4
    {
       font-size: 18px;
    }
    section.join-us-sec .join-info-sec p
    {
       font-size: 14px;
    }
    section.join-us-sec form .open-position-form
    {
        padding: 40px 20px;
    }
    select.form-select.custom-select-menu
    {
        font-size: 14px;
    }
    button.custom-btn
    {
        font-size: 14px;
    }
}